.announcement-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .card{
    border: 1px solid $card-border;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &:nth-of-type(1),&:nth-of-type(2){
      .top{
        h3{
          color: $warning;
          font-size: 32px;
        }
      }
    }
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3{
        font-size: 32px;
        color: $text-primary;
        font-weight: bold;
      }
      .left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        color: #fc6612;
      }
      .right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }
    }
    .bottom{
      display: flex;
      flex-direction: column;
      gap: 20px;
      p{
        font-size: 28px;
        color: $text-secondary;
        line-height: 1.4em;
        display: -webkit-box;
        -webkit-line-clamp: 2;        /* 限制为2行 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .announcement-footer{
      @include flex-between;
      .time{
        color: $text-secondary;
        @include flex-center;
        gap: 10px;
      }
      .right{
        span{
          display: flex;
          background: $warning;
          color: $text-white;
          width:72px;
          height: 36px;
          @include flex-center;
          border-radius: 36px;
          font-size: 24px;
        }
      }
    }
  }
}
.announcement-detail-container{
  .announcement-container-header{
    border-bottom: 1px solid $card-border;
    padding: 40px;

  }
  .card{
    margin: 0;
    padding: 0;
    border: none;
    .top{
      margin-top: 20px;
      .left{
        color: $text-secondary;
      }
    }
    .bottom{
      h3{
        font-size: 40px;
        line-height: 1.4em;
      }
    }
    .content{
      padding: 40px;
      font-size: 26px;
      line-height: 1.5em;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
  }

}