@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}

.asset-info{
  margin-bottom: 20px;
  padding: 40px 20px;
  @include flex-column;
  align-items: center;
  gap: 20px;
  .title{
    color: #fc6612;
    font-size: 30px;
  }
  .value{
    color: #fc6612;
    font-size: 60px;
    line-height: 80px;
    font-family: Arial;
    font-weight: bold;
  }
  .list{
    width: 100%;
    @include flex-between;

    &-item{
      @include flex-center;
      flex-direction: column;
      gap: 15px;
      width: 50%;

      .bottom{
        font-size: 36px;
        font-family: Arial;
        font-weight: bold;
      }
    }
  }
  .button{
    margin-top: 20px;
    line-height: 30px;
    padding: 15px 30px;
    @include flex-center;
    background: #fc6612;
    color: #fff;
    font-size: 30px;
    border-radius: 20px;
  }
}
.asset-alalysis{
  margin-bottom: 20px;
  padding: 30px 20px;
  .title{
    color: #fc6612;
    font-size: 30px;
  }
  .list{
    @include flex-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &-item{
      margin-top: 60px;
      width: 50%;
      box-sizing: border-box;
      gap: 20px;
      @include flex-column;
      justify-content: center;
      align-items: center;
      .top{
        color: #787878;
      }
      .bottom{
        color: #000;
        font-size: 30px;
        font-family: Arial;
        font-weight: bold;
      }
      &:nth-of-type(1){
        .icon{
          background: #4ADE80;
        }
      }
      &:nth-of-type(2){
        .icon{
          background: #FC6613;
        }
      }
      &:nth-of-type(3){
        .icon{
          background: #8B5CF6;
        }
      }
      &:nth-of-type(4){
        .icon{
          background: #13B6D4;
        }
      }
      .icon{
        border-radius: 50%;
        @include flex-center;
        width: 80px;
        height: 80px;
      }
    }
  }
}
.asset-detail{
  padding: 30px 20px;
  .top{
    @include flex-between;
  }
  .title{
    color: #fc6612;
    font-size: 30px;
  }
  .tabs{
    margin-top: 20px;
  }
}