.asset-info {
  margin-bottom: 20px;
  padding: 40px 20px;
  @include flex-column;
  align-items: center;
  gap: 30px;
  .icon-qianbao{
    width: 40px;
    height: 40px;
  }
  .common-title{
    padding: 0;
    @include flex-center;
    gap: 10px;
  }
  .value{
    @include flex-center;
    align-items: flex-end;
    gap: 10px;
    div{
      font-size: 64px;
      color: $primary;
      font-weight: bold;
    }
    span{
      position: relative;
      top: -10px;
      color: $text-muted;
      font-size: 32px;
    }
  }
  .usdt{

    font-size: 32px;
    color: $text-muted;
    @include flex-center;
    gap: 10px;
  }
  .button{
    background: $button-primary;
    width: 50%;
    height: 80px;
    border-radius: 20px;
    color: $text-primary;
    margin-top: 0;
    @include flex-center;
    font-size: 28px;
    .icon-arrow-right-up{
      width: 40px;
      height: 40px;
    }
  }
}
.asset-all{
  margin-bottom: 20px;
  padding: 40px;
  .list{
    margin-top: 40px;
    @include flex-column;
    gap: 20px;
    &-item{
      padding: 20px;
      background: $background-tertiary;
      @include flex-between;
      height: 100px;
      box-sizing: border-box;
      font-size: 24px;
      color: $text-muted;
      border-radius: 20px;
      .left,.middle,.right{
        flex:1;
      }
      .middle{
        @include flex-center;
        justify-content: flex-end;
      }
      .middle{
        color: $text-primary;
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}
.asset-detail{
  padding: 40px;

  .record-list{
    @include flex-column;
    gap: 20px;
    .item{
      @include flex-between;
      gap: 20px;
      border-bottom: 1px solid $divider;
      padding: 20px 0;
      .left{
        .icon{
          width: 30px;
          height: 30px;
        }
      }
      .middle{
        flex:1;
        color: $text-muted;
        font-size: 24px;
        @include flex-column;
        gap: 10px;
        .top{
          font-weight: bold;
          font-size: 28px;
          color: $text-primary;
        }
      }
      .right{
        @include flex-column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        .top{
          font-size: 28px;
          font-weight: bold;
        }
        .bottom{
          font-size: 24px;
        }
      }
    }
  }
  .common-title{
    justify-content: flex-start;
    padding: 0;
  }
}