.dialog-tips{
  .dialog{
    height: 140px;
    .point{
      margin-top: 30px;
    }
  }
}
.dialog-mask{
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &.show{
    visibility: visible;
  }
}
.dialog{
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #22A646;
  background: #122323;
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  align-items: center;

  &-title{
    position: relative;
    top: -15px;
    width: 136px;
    height: 30px;
    flex-shrink: 0;
    white-space: nowrap;
    border-radius: 6px;
    border: 1px solid #22A646;
    background: #000;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      color: #16FF16;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px
    }
  }
  .point{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -15px;
    margin-top: 12px;
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 5;
    line-height: 100%; /* 38px */
    letter-spacing: 2px;
    .nothing{
      font-size: 20px;
    }
    img{
      margin-top: 8px;
      width: 40px;
      height: 40px;
    }
  }
  .ok{
    margin-top: 10px;
    width: 230px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(270deg, #14E714 0%, #11C011 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.home-container{
  height: 100vh;
  width: 100vw;
  background: #000;
  overflow-y: auto;
  &-inner{
    width: 100%;
    height: 100%;
    background:  radial-gradient(80.03% 60.63% at 50% 49.87%, #06AC0B 0%, #3BDBB6 5%, #17736B 6%, #151732 61%, #11091B 84%, #090313 100%);
    .logo{
      width: 310px;
      height: auto;
      margin: auto;
      padding-top: 28px;
      padding-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .main{
    width: 375px;
    height: 583.425px;
    background: url("../assets/images/bg.png") no-repeat top center;
    background-size: 100% auto;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
    .each-time{
      width: 100%;
      height: 44px;
      padding-left: 105px;
      padding-right: 91px;
      font-size: 29px;
      box-sizing: border-box;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .each-point{
        top: 3px;
        position: relative;
        i{
          font-size: 29px;
          color: rgba(77, 241, 35, 0.21);
          position: relative;
          top: 2px;
        }
        i:nth-of-type(2){
          position: absolute;
          left: -2px;
          top: -2px;
          z-index: 1;
          color: #fff;
          background-clip: text;
        }

      }

      .info{
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        position: relative;
        top: -1px;
        span{
          @include inner-text-shadow;
        }
      }
    }

    .point-container{
      .point-info{
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 5;
        line-height: 22px; /* 91.667% */
        letter-spacing: 4px;
        padding-top: 15px;
        padding-bottom: 5px;
        text-align: center;
      }
      .point{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color:#51FF25 ;
        height: 44px;
        letter-spacing: 2px;
      }
    }
    .game{
      display: flex;
      justify-content: center;
      padding-top: 30px;
      &-box{
        display: flex;
        width: 185px;
        height: 136px;
        border-radius: 13px;
        border: 2px solid #308556;
        background: #032E31;
        align-items: center;
        justify-content: space-around;
      }

      &-item{
        overflow:hidden;
        width: 56px;
        height: 126px;
        border-radius: 9px;
        border: 2px solid #308556;
        background: #000;
        position: relative;
        overflow: hidden;
        &-main{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;

        }
        &:before,&:after{
          content: '';
          width: 100%;
          height: 24px;
          border-radius: 6px;
          position: absolute;
          left: 0;
          z-index: 3;
        }
        &:before{
          top: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #007704 100%);
        }
        &:after{
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #007704 100%);
          bottom: 0;
        }
        &-award{
          width: 50px;
          height: 63px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 46px;
            height: auto;
          }
        }
      }
    }

    .game-slogin{
      width: 185px;
      height: 22px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 2px solid #308556;
      background: #032E31;
      margin:5px auto;
      position: relative;
      .font-terminator{
        display: flex;
        justify-content: center;
        color: #51FF25;
        font-size: 11px;
        font-style: normal;
        font-weight: 5;
        line-height: 22px; /* 200% */
      }
      .arrow{
        position: absolute;
        left: 5px;
        top: 2px;
        img{
          width: 20px;
          height: auto;
        }
        &:nth-of-type(2){
          left: auto;
          right: 5px;
          top: 0;
          transform: rotate(180deg);
        }
      }


    }
    .joystick{
      width: 33px;
      height: 50px;
      position: absolute;
      left: 50%;
      margin-left: -17px;
      transform-origin: bottom center;
      top: 346px;
      img{
        width: 100%;
        height: auto;
      }
      &.shaking{
        animation: shake 0.5s linear infinite;
      }
    }
    .start{
      padding-top: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 24px;
        position: relative;
        &:before{
          position: absolute;
          left: 0;
          top: 0;
          content:'START';
          color: #FFF;
          font-size: 24px;
          font-style: normal;
          font-weight: 5;
          line-height: 22px; /* 91.667% */
          letter-spacing: 1px;
          z-index: 2;
        }
        &:after{
          position: absolute;
          left: 0;
          top: 0;
          content:'START';
          color: #FFF;
          font-size: 24px;
          font-style: normal;
          font-weight: 5;
          line-height: 22px; /* 91.667% */
          letter-spacing: 1px;
          filter: blur(2px);
          z-index: 1;
        }
      }
    }
  }
  .awards{

    margin:-70px auto 40px;
    width: 280px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #22A646;
    background: #000;
    align-items: center;
    display: flex;
    .award{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow:hidden;
      flex-wrap: wrap;
      &-item{
        flex-shrink: 0;
        height: 40px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:after{
          content: '';
          width:1px;
          height: 15.5px;
          flex-shrink: 0;
          border-radius: 2px;
          transform: scaleX(0.5);
          background: #808080;
          position: absolute;
          right: -1px;
          top: 12px;
        }
        img{
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          border: 1px solid #13D713;
          border-radius: 100%;
          padding: 1px;
        }
        span{
          margin-left: 6px;
          color: #51FF25;
        }
      }
    }
  }

  .article{
    background: #361E63;
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
    align-items: center;
    flex-direction: column;
    &:before{
      content: '';
      width: 14px;
      height:100%;
      position: absolute;
      left: 2px;
      top: 0;
      box-sizing: border-box;
      border: 1px solid #FFD2A2;
      background: linear-gradient(0deg, #59EADA 0%, #59EADA 100%);
    }
    &:after{
      content: '';
      width: 15.5px;
      height:100%;
      position: absolute;
      right: 2px;
      top: 0;
      box-sizing: border-box;
      border: 2px solid #5629EA;
      background: linear-gradient(0deg, #21F1E7 0%, #21F1E7 100%);
    }
    &-container{
      width: 288px;
      position: relative;
      min-height: 200px;
      top: -1px;
      background: #1B0838;
      &:before{
        content: '';
        position: absolute;
        left: -26px;
        top: 0;
        height: 100%;
        width: 26px;
        background: linear-gradient(-90deg, #27124B 13.53%, #3A2068 113.53%);
      }
      &:after{
        content: '';
        position: absolute;
        right: -25px;
        top: 0;
        height: 100%;
        width: 25px;
        background: linear-gradient(90deg, #27124B 13.53%, #3A2068 113.53%);
      }
      .mission{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &-title{
          position: relative;
          white-space: nowrap;
          z-index: 2;
          height: 22px;
          border-radius: 5px;
          border: 1px solid #22A646;
          background: #000;
          backdrop-filter: blur(2px);
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            padding: 0 6px;
            color: #16FF16;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
          }
        }
        &-box{
          position: relative;
          z-index: 1;
          margin-top: -5px;
        }
        &-item{
          margin-bottom: 26px;
          width: 280px;
          height: 68px;
          border-radius: 4px;
          position: relative;
            padding: 1px;
            background: url("@/assets/images/mission-bg.svg") no-repeat center top;
          background-size: 100% 100%;
          box-shadow: 4px 9px 10px 0px rgba(0, 0, 0, 0.25);
          &.active{
            .mission-item-main{
              background: none;
            }
            .right{
              display: none;
            }
            .right-arrow{
              display: block;
            }
          }
          &:after{
            content: '';
            width: 17px;
            height: 12px;
            background: url("@/assets/images/icon/mission-icon.svg") no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            left: 50%;
            bottom: -18px;
          }
          &:last-of-type{
            margin-bottom: 0;
            &:after{
              display: none;
            }
          }
          &-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            background: rgba(6, 70, 6, 0.44);
            padding:0 12px;
          }
          .left{
            flex-shrink: 0;
            img{
              width: 42px;
              height: 42px;
              flex-shrink: 0;
            }
          }
          .middle{
            flex: 1;
            margin-left:12px ;
            .up{
              color: #09D84E;
              font-size: 10px;
              white-space: nowrap;
              font-style: normal;
              font-weight: 600;
              line-height: 22px;
              height: 23px;
            }
            .down{
              display: flex;
              .text-white{
                font-size: 20px;
                font-style: normal;
                font-weight: 5;
                line-height: 22px; /* 110% */
                letter-spacing: 2px;
              }
              .symbol{
                width: 22px;
                height: 21px;
                display: block;
                margin-left: 5px;
                img{
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
          .right-arrow{
            display: none;
            img{
              width: 23px;
              height: 23px;
            }
          }
          .right{
            width: 40px;
            height: 20px;
            border-radius: 30px;
            background: linear-gradient(270deg, #14E714 0%, #11C011 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              color: #000;
              font-size: 16px;
              font-style: normal;
              line-height: 20px;
              position: relative;
              top: 1px;
              left: 1px;
              letter-spacing: 1px;
            }
          }
        }
      }

    }
  }
  .footer{
    display: flex;

    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 50px;
    .logo{
      padding: 0;
      width: 122px;
      height: 19.478px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }


}


@keyframes shake {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
