.container{
  margin-top: 120px;
  background: $background-pink;
  .swiper{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .img-box{
      position: relative;
      .img-info{
        background: rgba(0,0,0,0.3);
        padding: 30px;
        color: $text-white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        @include flex-column;
        gap: 20px;
        .title{
          font-size: 30px;
          font-weight: bold;
        }
        .desc{
          font-size: 24px;
        }
      }
    }

  }
}


.airdop-box{
  margin: 40px;
  border-radius: 24px;
  padding: 40px;
  background: $text-white;
  border: 1px solid rgb(229, 231, 235);
  box-shadow:  0 2px 3.84px rgba(0, 0, 0, 0.1);
  .title{
    @include flex-between;
    margin-bottom: 40px;
    .left{
      font-size: 40px;
      font-weight: bold;

    }
    .right{
      white-space: nowrap;
      box-sizing: border-box;
      @include flex-center;
      gap: 5px;
      padding: 20px;
      height: 60px;
      background: $button-primary;
      border-radius: 30px;
      font-size: 24px;
    }
  }
  .desc{
    color: $text-secondary;
    font-size: 28px;
    line-height: 1.4em;
  }
  .check-nft-button{
    margin: 40px  0 ;
    button{
      @include flex-center;
      gap: 20px;
      width: 100%;
      border: none;
      background: $button-primary;
      color: $text-primary;
      height: 108px;
      font-size: 32px;
      border-radius:16px;
      font-width: bold;
    }
  }
  .check-nft-info{
    margin-bottom: 20px;
    @include flex-between;
    gap: 20px;
    border: 1px solid $warning;
    padding: 40px ;
    background: $background-secondary;
    border-radius:16px ;
    font-size: 24px;
    color: $text-secondary;
    line-height: 1.4em;
    svg{
      width: 48px;
      height: 48px;
    }
  }
  .card-box{
    @include flex-between;
    gap: 20px;
    margin-top: 40px;
    &-item{
      border: 1px solid $card-border;
      background: $background-secondary;
      flex: 1;
      border-radius:16px ;
      @include flex-column;
      padding: 40px;
      font-size: 24px;
      gap: 10px;
      justify-content: center;
      align-items: center;
      &-title{
        color: $text-muted;
      }

      &-percent{
        color: $text-muted;
      }
      &-middle{
        margin: 10px 0;
        color: $text-primary;
        font-weight: bold;
        font-size: 30px;
      }
    }
  }

  .airdop-rule{
    margin-top: 40px;
    padding:0 40px 40px;
    border-radius: 16px;
    background: $background-secondary;
    &-title{
      padding: 40px 0;
      font-size: 40px;
    }
    &-item{
      @include flex-center;
      justify-content: flex-start;
      gap: 30px;
      font-size: 28px;
      line-height: 1.4em;
      align-items: flex-start;
      margin-bottom: 10px;
      color: $text-secondary;
      flex:1;
      &:before{
        content: attr(data-num);
        font-size: 30px;
        font-weight: bold;
        color:$primary;
      }
    }
  }
  .check-nft-result{
    margin-top: 40px;
    padding:0 40px 40px;
    border-radius: 16px;
    background: $background-secondary;
    &-title{
      padding: 40px 0;
      font-size: 40px;
    }
    &-item{
      @include flex-between;
      gap: 30px;
     .middle{
       flex:1;
       @include flex-column;
       gap: 10px;
       .bottom{
         color: $success;
         font-size: 24px;
       }
     }
      .right{
        color: $success;
      }
    }
  }
}

.whitelist-container{
  margin: 40px;
  border-radius: 24px;
  padding: 40px;
  background: $text-white ;
  border: 1px solid rgb(229, 231, 235);
  box-shadow:  0 2px 3.84px rgba(0, 0, 0, 0.1);
  .title{
    @include flex-between;
    margin-bottom: 40px;
    .left{
      font-size: 40px;
      font-weight: bold;
    }
    .right{
      box-sizing: border-box;
      @include flex-center;
      gap: 5px;
      padding: 20px;
      height: 60px;
      background: $background-secondary;
      border-radius: 30px;
      font-size: 24px;
      color:$text-muted
    }
  }
  .whitelist-tabs{
    .tabs{
      @include flex-center;
      gap: 20px;
      .tab-label{
        width: 180px;
        height: 100px;
        @include flex-center;
        border-radius: 16px;
        background: $background-secondary;
        border: 1px solid $card-border;
        margin-bottom: 40px;
        &.active{
          border: 1px solid transparent;
          background: $button-primary;
        }
      }
    }
    .tabs-container{
      @include flex-column;
      gap: 30px;
      &-item{
        @include flex-between;
        .left{
          @include flex-center;
          gap: 10px;
          color: $text-secondary;

        }
        .right{
          color: $text-primary;
          font-weight: bold;
        }
      }
      .progress-container{
        .progress{
          width: 100%;
          height: 16px;
          background: $background-secondary;
          &-bar{
            margin-top: 20px;
            background: $primary;
            border-radius: 16px;
            height: 100%;
          }
        }
        .number{
          @include flex-center;
          justify-content: flex-end;
          font-size: 24px;
          color: $text-muted;
          margin-top: 10px;
        }

      }
    }
    .phase-records{
      &-title{
        font-size: 30px;
        font-weight: bold;
      }
      .lists{
        margin-top: 30px;
        padding: 40px;
        border-radius: 16px;
        background: $background-secondary;
        @include flex-column;
        gap: 26px;

      }
      .list-item{
        height: 30px;
        line-height: 30px;
        @include flex-between;
        .address{
          font-weight: bold;
          font-size: 30px;
          color: $text-primary;
        }
        .time{
          color: $text-muted;
          font-size: 24px;
        }
      }
    }
    .controls{
      @include flex-between;
      gap: 20px;
      button{
        @include flex-center;
        flex: 1;
        border: none;
        height: 128px;
        border-radius: 8px;
        background: $button-primary;
        color: $text-primary;
        &:nth-of-type(2){
          background: rgba($text-primary,0.7);
          color: $text-white;
        }
      }
    }
  }
}

.footer{
  @include flex-column;
  border-top: 1px solid $divider;
  padding: 40px 0 ;
  justify-content: center;
  align-items: center;
  color: $text-secondary;
  font-size: 28px;
  .media-list{
    @include flex-center;
    gap: 20px;
    margin: 30px;
    svg{
      color: $text-primary;
      width: 50px;
      height: 50px;
    }
  }
  .link{
    @include flex-column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: $text-muted;
    .link-text{
      font-size: 28px;
    }
    .link-button{
      button{
        gap: 8px;
        @include flex-center;
        border: 2px solid $button-primary;
        width: 280px;
        height: 100px;
        background:transparent;
        border-radius: 16px;
        color: $primary;
        svg{
          fill: $text-muted;
        }
      }
    }
  }
  .other-link{
    padding: 0 20px;
    margin: 40px 0;
    @include flex-center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 24px;
    a{
      color: $text-muted;
    }
    color: $text-muted;
  }
}


.parent-link{
  padding: 60px 20px;
  .title{
    text-align: center;
    color: $primary;
  }
  width: 100%;
  box-sizing: border-box;
  .main{
    padding: 40px 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info{
      text-align: left;
      width: 100%;
      margin-top: 20px;
      margin-left: 20px;
      color: $primary;
      line-height: 1.2em;
      font-size: 18px;
      white-space: pre-wrap;
      overflow-wrap: break-word
    }
    .button{
      margin-top: 40px;
      background: $primary;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 70px;
      height: 70px;
      width: 100%;
    }
  }
  .input{
    text-indent: 0.3em;
    width: 100%;
    background: #F5F5F5;
    height: 70px;
    border-radius: 10px;
    input{
      border: none;
      background: none;
      height: 100%;
      width: 100%;
    }
  }

}