.learn-container{
  padding: 40px;
  background: $text-white;
  min-height: 85vh;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0 20px;
  font-size: 28px;
  line-height: 1.5em;
  color: $text-secondary;
  p{
    margin-bottom: 20px;
  }
}