@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}
.lp-detail{
  margin-top: 20px;
  padding: 20px;
  .top{
    padding: 20px 0;
    .title{
      color: #fc6612;
      font-size: 30px;
    }
  }
  .record-list-item .left .coin{
    background: none;
  }
}
.lp-info{
  padding: 40px 0;
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .icon{
    width: 40px;
    height: 40px;
  }
  .title{
    color: #fc6612;
  }
  .value{
    color: #fc6612;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial;
  }
}