@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}
.node-container{
  @include flex-column;
  gap: 20px;
  .node-info{
    @include flex-column;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px 20px;
    .top{
      @include flex-center;
      font-size: 30px;
      color: #fc6612;
      font-weight: bold;
      gap: 10px;
      .icon{
        width: 30px;
        height: 30px;
      }
    }
    .info-content{
      gap: 40px;
      @include flex-column;
      justify-content: center;
      align-items: center;
      .h4{
        color: #fc6612;
        font-size: 30px;
      }
      .value{
        color: #fc6612;
        font-family: Arial;
        font-weight: bold;
        font-size: 60px;
      }
    }
    .middle{
      border-radius: 10px;
      padding: 0 10px;
      @include flex-between;
      background: #F5F5F5;
      height: 70px;
      .left{
        color: #787878;
        gap: 10px;
        @include flex-center;
        align-items: center;
        .icon{
          width: 26px;
          height: 26px;
        }
      }
    }
    .node-info-details{
      border-radius: 10px;
      padding: 0 10px;
      @include flex-column;
      background: #F5F5F5;
      justify-content: center;
      gap: 15px;
      height: 120px;
      .text{
        color: #787878;
      }
      &-value{
        @include flex-between;
      }
    }
  }
}
.node-records{
  .record-list{
    .record-list-item{
      .left{
        .coin{
          .iconfont{
            color: #fc6612;
            font-size: 35px;
          }
        }
      }
    }
  }
}