@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}
.staking-info{
  .list{
    width: 100%;
    @include flex-between;
    justify-content: space-around;
    &-item{
      @include flex-column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
    .label{
      color: #787878;
      font-size: 20px;
    }
    .value{
      font-family: Arial;
      font-weight: bold;
    }
    .coin{
      @include flex-center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      .icon{
        width: 40px;
        height: 40px;
      }
    }
  }
}
.staking-table{
  margin-top: 20px;
}
.stak-control{
  margin-top: 20px;
  .card-title{
    color: #fc6612;
    font-size: 30px;
    margin-bottom: 40px;
  }

  .list{
    margin-top: 40px;
   @include flex-between;
    justify-content: space-around;
    &-item{
      @include flex-column;
      gap: 10px;
      align-items: center;
    }
    .top{
      color: #787878;
    }
  }
}