@mixin inner-text-shadow{
  &:before{
    content: attr(data-text);
    text-shadow: 0 0 5px #000;
  }
  &:after{

  }
}



@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}
.text-white{
  color: #fff;
}
.success{
  color: #22C55E;
}