.layout-container{
  font-size: 24px;
  min-height: 100vh;
  background: #fff;
  padding-top: 40px;
}
.header-container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid $card-border;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 136px;
  font-size: 36px;
  background: white;
}
.layout-icon{
  padding: 0 20px;
  width: 40px;
  height: 40px;
}
.layout-container-body{
  background: $background-pink;
  padding-top: 136px;
  min-height: 100vh;
}